.hide {
    display: none;
}

.rider:hover .hide {
    display: inline-block;
    z-index: 9;
}

.race-title {

}

thead {
    background-color: white;
    position: sticky;
    top: 0px;
    height: 50px;
}

.fixed-row-bottom {
    background-color: white;
    position: fixed;
    bottom: 0;
}

/*.main-table tr:nth-child(even) {*/
/*    background: whitesmoke*/
/*}*/

